:root{
    background-color: #010101;
    color: white;
}
@media(orientation:portrait){
    #downloader{
        padding:1vh;
    }
}
@media(orientation:landscape){
    #downloader{
        padding:1vw;
    }
}
nav{
    background-color: #124361;
}
#logo{
    width:fit-content;
}
#astronaut{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}
#downloader{
    display: flex;
    margin: 0 auto;
    gap:10px;
    margin-top: 5vh;
    width:max-content;
    transition: 0.5s;
}
#downloader:hover{
    background-color: #4f62c8;
    color:white;
}
.switch{
    background-color:white; 
    color:black;
    display: flex;
    margin: 0 auto;
    width: max-content;
    margin-top: 5vh;
}
.switch:hover{
    background-color: #4f62c8;
    color:white;
}
#description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}
li{
    text-align: center;
}
h3{
    color: #8ba3e2;
}
h5{
    color: #ff0023;
}